<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
	<string>177628054151-hb20hk2vc7g1h46h22uhu8thj3kkdb2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177628054151-hb20hk2vc7g1h46h22uhu8thj3kkdb2c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177628054151-85dmk8tl6cke4nj5q6rdb9flka4dr3ia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Sz5W6YT8p11TPE7v6-dQiIvOkqgbQj0</string>
	<key>GCM_SENDER_ID</key>
	<string>177628054151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tagGame</string>
	<key>PROJECT_ID</key>
	<string>tag-game-6f59e</string>
	<key>STORAGE_BUCKET</key>
	<string>tag-game-6f59e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177628054151:ios:dfd09c1a1c7289fa24ae22</string>
</dict>
</plist>